body {
  background-color: #252429;
}

h1 {
  font-size: 128px;
  letter-spacing: 1.5px;
  color: #ffbb00;
  text-align: center;
  margin-bottom: -30px;
}

p1{
  font-size: 30px;
  line-height: 100px;
  text-align:center;
  color: white;
}
